{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="title icon" href="{%static 'images/title-img.png'%}">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" -->
    <!-- integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->
  <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" -->
    <!-- integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
    crossorigin="anonymous"></script> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
  <title>Boutique Accounting Software</title>

  <link href="{% static '/plugins/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static '/plugins/datatables/responsive.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static '/plugins/datatables/buttons.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static '/plugins/datatables/select.bootstrap4.css' %}" rel="stylesheet" type="text/css" />

  <link href="{% static '/plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static '/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />

 <!-- App css -->
 <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
 <link href="{% static '/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
 <!-- <link href="{% static '/assets/css/theme.css' %}" rel="stylesheet" type="text/css" /> -->

</head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="container-fluid">
        <div class="row">

          <!-- sidebar -->
          <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
            <a href="/" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">
              Bindu's Boutique</a>
            <ul class="navbar-nav flex-column mt-4">
              <li class="nav-item"><a href="{% url 'dashboard' %}" class="nav-link text-white p-3 mb-2 current">Dashboard</a></li>
              <li class="nav-item"><a href="{% url 'customers' %}" class="nav-link text-white p-3 mb-2 sidebar-link">Customers</a></li>
              <!-- <li class="nav-item"><a href="{% url 'products' %}" class="nav-link text-white p-3 mb-2 sidebar-link">Products</a></li> -->
              <li class="nav-item"><a href="{% url 'orders' %}" class="nav-link text-white p-3 mb-2 sidebar-link">Orders</a></li>
              <!-- <li class="nav-item"><a href="{% url 'stocks' %}" class="nav-link text-white p-3 mb-2 sidebar-link">Stock Account</a></li> -->
              <!-- <li class="nav-item"><a href="{% url 'suppliers' %}" class="nav-link text-white p-3 mb-2 sidebar-link">Supplier</a></li> -->
              <li class="nav-item"><a href="{% url 'manager' %}" target="_blank" class="nav-link text-white p-3 mb-2 sidebar-link">Manager</a></li>
              <!-- <li class="nav-item"><a href="/logout" class="nav-link text-white p-3 mb-2 sidebar-link">Logout</a></li> -->
              <!-- <li class="nav-item"><a href="{% url 'supplier_slip_list' %}" class="nav-link text-white p-3 mb-2 sidebar-link">Supplier lists</a></li> -->
            </ul>
          </div>
          <!-- end of sidebar -->

          <!-- top-nav -->
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-light fixed-top py-2 top-navbar">
            <div class="row align-items-center">
              <div class="col-md-4">
                <h4 class="text-dark text-uppercase mb-0"></h4>
              </div>
              <div class="col-md-5">
                <form>
                  <div class="input-group">
                    <!-- <input type="text" class="form-control search-input" placeholder="Search..."> -->
                    <!-- <button type="button" class="btn btn-white search-button"><i
                        class="fas fa-search text-danger"></i></button> -->
                  </div>
                </form>
              </div>
              <div class="col-md-3">
                <ul class="navbar-nav">
                  <!-- <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i
                        class="fas fa-comments text-muted fa-lg"></i></a></li> -->
                  <!-- <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i
                        class="fas fa-bell text-muted fa-lg"></i></a></li>
                  <li class="nav-item ml-md-auto"><a href="#" class="nav-link" data-toggle="modal"
                      data-target="#sign-out"><i class="fas fa-sign-out-alt text-danger fa-lg"></i></a></li> -->
                </ul>
              </div>
            </div>
          </div>
          <!-- end of top-nav -->

        </div>
      </div>
    </div>
  </nav>
  <!-- end of navbar -->



  <!-- modal -->
  <div class="modal fade" id="sign-out">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Want to leave?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          Press logout to leave
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Stay Here</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Logout</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end of modal -->

  <div class="container">
    <!-- Modal -->
    <div class="modal fade bd-example-modal-xl " tabindex="-1" id="orderDetailsModal" role="dialog" >
      <div class="modal-dialog modal-xl  modal-dialog-centered">
      
        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title" id="search_title">Order Details for order no. <span id="orderid"></span></h4><br>
                <div style="display:none" id="customerList">
                  <select>
                {% for c in customers %}
                <option value="{{c.id}}">{{ c.name }}</option>
                {% endfor %}
              </select></div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                Todays Gold Price <input type="text" value="" id="goldPrice" placeholder="Enter Gold Price ">                

                <table width="90%" id="orderdetails-datatable" class="table table-bordered responsive nowrap  table-striped display ">
                <thead>
                </thead>
                </table>
                <button class="btn btn-info btn-sm" onclick="addRow();">Add Item</button>
                <button class="btn btn-info btn-sm" onclick="saveItem();">Save</button>
                <input id="total_cost" type="number" style="float:right" disabled class="btn btn-danger btn-sm" value="">
                <input style="float:right;width:100px;font-weight: bold;background: white;" disabled value="Total Cost">
                
                <input id="customerid" type="hidden" value="0">
              </div>
</div>
</div>
</div>

</div> <!-- end modal container -->
  <!-- modal -->
  <div class="modal fade" id="sign-out">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Want to leave?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          Press logout to leave
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Stay Here</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Logout</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end of modal -->

  <div class="container">
    <!-- Modal -->
    <div class="modal fade bd-example-modal-xl " tabindex="-1" id="paymentModal" role="dialog" >
      <div class="modal-dialog modal-xl  modal-dialog-centered">
      
        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title" id="search_title">Payment for Order <span id="paymentOrderid"></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <!-- <input style="position: absolute;left: 50%;transform: translateX(-50%); width:300px;" type="text"  id="myCustomAuditSearchBox" placeholder="Search all fields"> -->

                <table width="90%" id="payment-datatable" class="table table-bordered responsive nowrap  table-striped display ">
                <thead>
                </thead>
                </table>
                <button id="addPaymentButton" class="btn btn-info btn-sm" onclick="addPayment();">Add Payment</button>
                <button class="btn btn-info btn-sm" onclick="savePayment();">Save</button>
                <input id="balance_payment" type="number" style="float:right" disabled class="btn btn-danger btn-sm" value="">
                <input style="float:right;width:100px;font-weight: bold;background: white;" disabled value="Balance">
                
                <input id="customerid" type="hidden" value="0">
              </div>
</div>
</div>
</div>

</div> <!-- end modal container -->

  {% block content %} 
    
  <!--child template -->
  
  {% endblock %}
  
  <script src="{% static '/js/jquery.min.js' %}"></script>
  <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/js/waves.js' %}"></script>

  <!-- third party js -->
  <script src="{% static '/plugins/datatables/jquery.dataTables.min.js' %}"></script>
 
  <script src="{% static '/plugins/datatables/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static '/plugins/datatables/dataTables.responsive.min.js' %}"></script>
  <script src="{% static '/plugins/datatables/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static '/plugins/datatables/dataTables.buttons.min.js' %}"></script>
  <script src="{% static '/plugins/datatables/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static '/plugins/datatables/buttons.html5.min.js' %}"></script>
  <script src="{% static '/plugins/datatables/buttons.flash.min.js' %}"></script>
  <script src="{% static '/plugins/datatables/buttons.print.min.js' %}"></script>
  <script src="{% static '/plugins/datatables/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static '/plugins/datatables/dataTables.select.min.js' %}"></script>
  <script src="{% static '/plugins/datatables/vfs_fonts.js' %}"></script>
  <script src="{% static '/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>
  <script src="{% static '/plugins/moment/moment.js' %}"></script>
  <script src="{% static '/plugins/autonumeric/autoNumeric-min.js' %}"></script>
  <script src="{% static '/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static '/plugins/daterangepicker/daterangepicker.js' %}"></script>

  <script src="{% static '/js/dataTables.buttons.min.js' %}"></script>
  
  <script>
    var firstTime=true;
    var firstTimePayment=true;
    
    function getOrderDetails(id,customerid=null){
      if (id == 0) {
        $("#orderid").text("New Order")
      } else {
        $("#orderid").text(id);
      }
      $("#customerid").val(customerid);

      $("#total_cost").val(0)
      if (firstTime==false)$('#orderdetails-datatable').DataTable().destroy();
      var table = $('#orderdetails-datatable').DataTable({
          info:false,
          searching:false,
          ordering:false,
          paging:false,
            "ajax": '/order/'+id,
            // 'data':data.data,
            "columns": [
            {data: 'itemno' , title: "Item No",}, 
            { data: 'product' ,  title: "Item Name", 
            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {

              $(nTd).html(setProduct(oData.product).replace("ITEMID",oData.product).replace("ROWID",iRow+1).replace("ID","item_"+(iRow+1)));
              // $(nTd).html(productList.replace("ITEMID",oData.product).replace("ROWID",iRow+1).replace("ID","item_"+(iRow+1)));
                  // $(nTd).html("<select id=\"item_" + (iRow+1) + "\"> <option value=\"-1\"> None</option><option value=\"1\"> Saree</option> <option value=\"2\"> Fall</option> <option value=\"3\"> Kutchu</option> <option value=\"4\"> Blouse</option> <option value=\"5\"> Stitching</option><option value=\"6\"> Others</option></select>");
                  // console.log("#item_"+(iRow+1),oData.product);
              }                      
            },
             {data: 'qty' , title: "Qty",}, 
             { data: 'cost' ,  title: "Price", 
              fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {

                      $(nTd).html("<input onfocusout=\"adjustCost(this);\"  style=\"width:100px;\" maxlength=\"6\"  type=\"text\" value=\""+oData.cost+"\"  id=\"cost_" + (iRow+1) +"\">");
                  }                      
              },
             { data: 'discount' ,  title: "Discount", 
              fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                      $(nTd).html("<input onfocusout=\"adjustCost(this);\"  style=\"width:100px;\" maxlength=\"6\"  type=\"text\" value=\""+oData.discount+"\"  id=\"discount_" + (iRow+1) +"\">");
                  }                      
              },
             { data: 'final_cost' ,  title: "Final Price", 
              fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                  $("#total_cost").val(parseInt($("#total_cost").val())+parseInt(oData.final_cost));
                  $(nTd).html("<input style=\"width:100px;\" maxlength=\"6\"  type=\"text\" value=\""+oData.final_cost+"\"  id=\"final_cost_" + (iRow+1) +"\">");
              }                      
          },
          { data: 'notes' ,  title: "Notes", 
          fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                  $(nTd).html("<input style=\"width:100px;\" maxlength=\"6\"  type=\"text\" value=\""+oData.notes+"\"  id=\"notes_" + (iRow+1) +"\">");
              }                      
          },
          { data: null ,  title: "", 
          fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
            
                  $(nTd).html("<button class=\"btn btn-danger btn-sm\" onclick=\"delRow("+ (iRow+1) +"); \" id=\"delete_" + (iRow) +"\">X</button>");
              }                      
          },
          { data: 'new' ,  title: "New", 
          fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
              if (oData.new==1)
                  $(nTd).html("<input disabled style=\"width:20px;\" maxlength=\"5\"  type=\"text\" value=\""+oData.new+"\"  id=\"new_" + (iRow+1) +"\">");
              }                      
          },
        ],
        "columnDefs": [
            {
                "targets": [8 ],
                "visible": false,
                "searchable": true
            },
      ],
          });
      // $("#item_1").prop("selectedIndex",2);
      $("#orderDetailsModal").modal('show');
      firstTime=false;
    }
    function getJewelleryOrderDetails(id,customerid=null){
      $.get('/todaysGoldPrice/',function(data) {
          console.log(data);
          $("#goldPrice").val(data.data)
        });

      if (id == 0) {
        $("#orderid").text("New Order")
      } else {
        $("#orderid").text(id);
      }
      $("#customerid").val(customerid);

      $("#total_cost").val(0)
      if (firstTime==false)$('#orderdetails-datatable').DataTable().destroy();
      var table = $('#orderdetails-datatable').DataTable({
          info:false,
          searching:false,
          ordering:false,
          paging:false,
            "ajax": '/order/'+id,
            // 'data':data.data,
            "columns": [
            {data: 'itemno' , title: "Item No",}, 
            { data: 'product' ,  title: "Item Name", 
            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
              $(nTd).html(setJewelleryProduct(oData.product).replace("ITEMID",oData.product).replace("ROWID",iRow+1).replace("ID","item_"+(iRow+1)));
              }                      
            },
            { data: 'wt' ,  title: "Weight", 
            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
              $(nTd).html("<input onfocusout=\"adjustCost(this);\"  style=\"width:100px;\" maxlength=\"6\"  type=\"text\" value=\""+oData.cost+"\"  id=\"wt_" + (iRow+1) +"\">");
              }                      
            },
            { data: 'making_charges' ,  title: "Wastage %", 
            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
              $(nTd).html("<input onfocusout=\"adjustCost(this);\"  style=\"width:100px;\" maxlength=\"6\"  type=\"text\" value=\""+oData.cost+"\"  id=\"making_charges_" + (iRow+1) +"\">");
              }                      
            },
             {data: 'qty' , title: "Qty",}, 
             { data: 'cost' ,  title: "Price", 
              fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                      $(nTd).html("<input onfocusout=\"adjustCost(this);\"  style=\"width:100px;\" maxlength=\"6\"  type=\"text\" value=\""+oData.cost+"\"  id=\"cost_" + (iRow+1) +"\">");
                  }                      
              },
             { data: 'discount' ,  title: "Discount", 
              fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                      $(nTd).html("<input onfocusout=\"adjustCost(this);\"  style=\"width:100px;\" maxlength=\"6\"  type=\"text\" value=\""+oData.discount+"\"  id=\"discount_" + (iRow+1) +"\">");
                  }                      
              },
             { data: 'final_cost' ,  title: "Final Price", 
              fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                  $("#total_cost").val(parseInt($("#total_cost").val())+parseInt(oData.final_cost));
                  $(nTd).html("<input style=\"width:100px;\" maxlength=\"6\"  type=\"text\" value=\""+oData.final_cost+"\"  id=\"final_cost_" + (iRow+1) +"\">");
              }                      
          },
          { data: 'notes' ,  title: "Notes", 
          fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                  $(nTd).html("<input style=\"width:100px;\" maxlength=\"6\"  type=\"text\" value=\""+oData.notes+"\"  id=\"notes_" + (iRow+1) +"\">");
              }                      
          },
          { data: null ,  title: "", 
          fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
            
                  $(nTd).html("<button class=\"btn btn-danger btn-sm\" onclick=\"delRow("+ (iRow+1) +"); \" id=\"delete_" + (iRow) +"\">X</button>");
              }                      
          },
          { data: 'new' ,  title: "New", 
          fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
              if (oData.new==1)
                  $(nTd).html("<input disabled style=\"width:20px;\" maxlength=\"5\"  type=\"text\" value=\""+oData.new+"\"  id=\"new_" + (iRow+1) +"\">");
              }                      
          },
        ],
        "columnDefs": [
            {
                "targets": [8 ],
                "visible": false,
                "searchable": true
            },
      ],
          });
      // $("#item_1").prop("selectedIndex",2);
      $("#orderDetailsModal").modal('show');
      firstTime=false;
    }

    function getPaymentDetails(id,balance){
      $("#paymentOrderid").text(id);
      $("#balance_payment").val(balance);

      if (firstTimePayment==false)$('#payment-datatable').DataTable().destroy();
      var table = $('#payment-datatable').DataTable({
          info:false,
          searching:false,
          ordering:false,
          paging:false,
            "ajax": '/payments/?orderid='+id,
            "columns": [
            {data: null , title: "No.",
            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
              $(nTd).html("<input disabled style=\"width:30px;\" maxlength=\"6\"  type=\"text\" value=\""+(iRow+1)+"\"  id=\"itemno_" + (iRow+1) +"\">");
              }                                  
            }, 
            {data: 'amount' , title: "Amount",
            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
              if (oData.new)
            $(nTd).html("<input style=\"width:100px;\" maxlength=\"6\"  type=\"text\" value=\""+oData.amount+"\"  id=\"amount_" + (iRow+1) +"\">");
            }}, 
            { data: 'payment_method' ,  title: "Pay Method", 
            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
              if (oData.new)
              $(nTd).html(paymentMethodList.replace("ITEMID",oData.product).replace("ROWID",iRow+1).replace("ID","payment_method_"+(iRow+1)));
              }                      
            },
          { data: 'notes' ,  title: "Notes", 
            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
              if (oData.new)
                  $(nTd).html("<input style=\"width:100px;\" maxlength=\"50\"  type=\"text\" value=\""+oData.notes+"\"  id=\"notes_" + (iRow+1) +"\">");
              }                      
          },
          { data: 'date' ,  title: "Date", 
          },
          { data: 'new' ,  title: "", 
          fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
              if (oData.new==1)
                  $(nTd).html("<input  type=\"hidden\" value=\""+oData.new+"\"  id=\"new_" + (iRow+1) +"\">");
              }                      
          },
        ],
        "columnDefs": [
            {
                "targets": [5 ],
                "visible": false,
                "searchable": false
            },
      ],
          });
      $("#paymentModal").modal('show');
      firstTimePayment=false;
    }

    function initOrderDetailsDatatable(){
      var orderDetailstable = $('#orderdetails-datatable').DataTable({
          info:false,
          searching:false,
          paging:false,
          striped:true,
      });  
  }
  function initPaymentDatatable(){
      var paymenttable = $('#payment-datatable').DataTable({
          info:false,
          searching:false,
          paging:false,
          striped:true,
      });  
  }

  function adjustCost(e){
    var table = document.getElementById("orderdetails-datatable");
    var sum=0
    // console.log(table.rows.length);
    for (var i = 1;  i< table.rows.length; i++) {
      // console.log(i,($("#cost_"+i).val()));
      $("#final_cost_"+i).val(($("#cost_"+i).val())-$("#discount_"+i).val());
      sum+=parseInt($("#final_cost_"+i).val());
      }
      $("#total_cost").val(sum);
    }
    function adjustTotalCost(e){
      var table = document.getElementById("orderdetails-datatable");
      var sum=0
      for (var i = 1; i<table.rows.length ; i++) {
        sum+=parseInt($("#final_cost_"+i).val());
      }
      $("#total_cost").val(sum);
    }

    function saveItem(){      
      let orderid=$("#orderid").text();
      // console.log(orderid,$("#customerid").val());
      if (orderid == "New Order") {
        orderid=0;
        $.get('/createOrder/?customerid='+$("#customerid").val()+"&cost="+$("#total_cost").val()+"&paid=0&balance="+$("#total_cost").val(),function(data) {
          console.log(data);
          orderid=data.orderid;
        });
      }
      var table = $('#orderdetails-datatable').DataTable();
      for (i = 1; i< table.data().count()+1 ; i++) {  
          if(table.row(i-1).data()['new']==1)      
            $.get( '/orderdetail/?itemno='+ i+'&orderid='+orderid+"&customerid=" + $("#customerid").val() +"&itemid="+$("#item_"+i).val()+"&cost="+$("#cost_"+i).val()+"&discount="+$("#discount_"+i).val()+"&final_cost="+$("#final_cost_"+i).val()), function( data ) {
          }
        }        
        setTimeout(function(){
            $("#orderDetailsModal").modal("hide");
        }, 4000);
        location.reload();
  }
    function savePayment(){      
      let orderid=$("#paymentOrderid").text();
      var table = $('#payment-datatable').DataTable()//.row(1).data();
      // console.log(table.data().count())

      for (i = 0; i< table.data().count() ; i++) {  
        // console.log(table.row(i).data())
        if(table.row(i).data()['new']==1)      
        $.get('/createPayment/?orderid='+orderid+"&payment_method="+table.row(i).data()['payment_method']+"&amount="+table.row(i).data()['amount']+"&notes="+table.row(i).data()['notes'],function(data) {
          // console.log(data)
          location.reload();
      });
      }
       
    }

  var products=null;
  var jewelleryProducts=null;
  // var productList="<select onchange=\"getProductDetails(ITEMID,ROWID);\" id=\"ID\"><option value=\"-1\">Select Item</option>";
  var productList="<select id=\"ID\"><option value=\"-1\">Select Item</option>";
    var jewelleryList="<select id=\"ID\"><option value=\"-1\">Select Item</option>";
    var paymentMethodList="<select id=\"ID\"><option value=\"Cash\">Cash</option><option value=\"Cheque\">Cheque</option><option value=\"Bank Transfer\">Bank Transfer</option><option value=\"Wallet\">Wallet</option><option value=\"Others\">Others</option></select>";
  $(document).ready(function() {
    // initOrderDetailsDatatable();   
      $.get('/getProducts/S/',function(data){
        products = data.data;
        // console.log(data.data);
        data=data.data;
        for (i in data){
          productList += " <option value=\"" + data[i].id +  "\"> " + data[i].name + "</option>";
        }
        productList+="</select>";
      });
      $.get('/getProducts/J/',function(data){
        jewelleryProducts = data.data;
        // console.log(data.data);
        data=data.data;
        for (i in data){
          jewelleryList += " <option value=\"" + data[i].id +  "\"> " + data[i].name + "</option>";
        }
        jewelleryList+="</select>";
      });
  } );

function getProductDetails(e,rowid){
  // if ($("#cost_"+rowid).val()>0) return;
  // console.log('getProductDetails',e,rowid);
  // console.log(e.options[e.selectedIndex].value);
  selectedItem = e.options[e.selectedIndex].value
  for (i in products){
    // console.log(products[i].id, item)
    if (products[i].id == selectedItem){
      $("#cost_"+rowid).val(products[i].price);
      $("#final_cost_"+rowid).val(products[i].price);
      adjustTotalCost(null);
      return;
    }
  }
}
function getJewelleryProductDetails(e,rowid){
  selectedItem = e.options[e.selectedIndex].value
  // console.log(jewelleryList,selectedItem);
  for (i in jewelleryProducts){
    if (jewelleryProducts[i].id == selectedItem){
      $("#wt_"+rowid).val(jewelleryProducts[i].wt);
      $("#making_charges_"+rowid).val(jewelleryProducts[i].making_charges);
      x=$("#goldPrice").val() * jewelleryProducts[i].making_charges+(1+jewelleryProducts[i].making_charges*jewelleryProducts[i].making_charges/100)
      $("#cost_"+rowid).val(x);
      adjustTotalCost(null);
      return;
    }
  }
}
function selectProduct(){
  var table = document.getElementById("orderdetails-datatable");
  for (i=1;i<table.rows.length;i++)
    document.getElementById("item_"+i).selectedIndex = "2";
  }
  function setProduct(item){
    let h="<select onchange=\"getProductDetails(this,ROWID)\" id=\"ID\"><option value=\"-1\">Select Item</option>";
    for (i in products){
      if (products[i].id == item)
        h += " <option selected value=\"" + products[i].id +  "\"> " + products[i].name + "</option>";
      else
        h += " <option value=\"" + products[i].id +  "\"> " + products[i].name + "</option>";
    }
    h+="</select>";
    return h;
  }
  function setJewelleryProduct(item){
    let h="<select onchange=\"getJewelleryProductDetails(this,ROWID)\" id=\"ID\"><option value=\"-1\">Select Item</option>";
    for (i in jewelleryProducts){
      if (jewelleryProducts[i].id == item)
        h += " <option selected value=\"" + jewelleryProducts[i].id +  "\"> " + jewelleryProducts[i].name + "</option>";
      else
        h += " <option value=\"" + jewelleryProducts[i].id +  "\"> " + jewelleryProducts[i].name + "</option>";
    }
    h+="</select>";
    return h;
  }

  function addRow(id){
    var table = $('#orderdetails-datatable').DataTable();
    rowCount=table.rows().count();
    data={"product": -1, "itemno": rowCount+1,"wt":0.00, "making_charges":22,"qty": 1, "cost": 0, "final_cost": 0, "discount": 0, "notes": "","new":1}
    // data=[1, "saree",1,5000, 100,4900,""]
    table.row.add( data);
    table.draw();

  }
 
  function addPayment(id){
    var table = $('#payment-datatable').DataTable();
    rowCount=table.rows().count();
    data={"payment_method": "Cash", "itemno": rowCount+1, "amount": 1000, "date":"","notes": "","new":1}
    table.row.add( data);
    table.draw();
    // $("#addPaymentButton").prop("disabled","disabled");
  }
  function delRow(rowid){
    console.log(rowid);
    var table = $('#orderdetails-datatable').DataTable();
    $('#orderdetails-datatable').on( 'click', 'tbody tr', function () { 
      table.row( this ).remove(); 
      table.draw();    
    } );

    // table.row(rowid).remove()
  }
  </script>  
</body>
</html>