{% extends 'crm/base.html'%}

{% block content %}

<section>
    <div class="container-fluid">
      <div class="row mb-5">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto mt-5">
          <!-- <div class="card card-body"> -->
            <!-- <form action="" method="get">
              {{myFilter.form}}
              <button class="btn btn-primary" type="submit">Search</button>
            </form> -->
          <!-- </div> -->
          <div class="row align-items-center">
            <div class="col mt-3 mr-3">
              
              <h3 class="text-muted text-center mb-3"><span>{{category}} </span>Orders for<span class="text-danger"> {{customer.name}},  {{customer.address}}, {{customer.phone}} </span>
                {% if "S" in category_type  %}<a href="javascript:getOrderDetails(0,{{customer.id}});" class="btn btn-success btn-sm">Add</a> {% else %}
                <a href="javascript:getJewelleryOrderDetails(0,{{customer.id}});" class="btn btn-success btn-sm"> Add</a>{% endif %}
              </h3>
              <!-- <h3 class="text-muted text-center mb-3">Orders&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:getOrderDetails(0);" class="btn btn-success btn-sm"> Add</a></h3>             -->
              <table class="table center table-striped bg-light text-center">
                <thead>
                  <tr class="text-muted">
                    <th>Order No.</th>
                    <!-- <th>Qty</th> -->
                    <th>Cost</th>
                    <th>Paid</th>
                    <th>Balance</th>
                    <th>Date</th>
					          <!-- <th>Remove</th> -->
                  </tr>
                </thead>
                <tbody>

                  {%  for order in orders %}
                    <tr>
                      <td>{{order.id}}</td>
                      <!-- <td>{{order.qty}}</td> -->
                      <td>{{order.cost}}</td>
                      <td>{{order.paid}}</td>
                      {% if order.balance %}<td class="text-danger">{{order.balance}}</td>
                      {% else %}<td>{{order.balance}}</td> 
                      {% endif %}
                      <td>{{order.date_created|date:"d-M-Y"}}</td>
                      {% if "S" in category_type  %}
                      <td><a class="btn btn-sm btn-info" href="javascript:getOrderDetails({{order.id}},'{{category_type}}');" >Details</a></td>{% else %}
                      <td><a class="btn btn-sm btn-info" href="javascript:getJewelleryOrderDetails({{order.id}},'{{category_type}}');" >Details</a></td>{% endif %}
                      <td><a class="btn btn-sm btn-info" href="javascript:getPaymentDetails({{order.id}},{{order.balance}});" >Payment</a></td>
                    </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}